{% extends 'main/base.html' %}

{% block title %}Главная{% endblock %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Главная страница проекта №2 на Django</h1>
    <p class="lead">Это первая страница моего второго проекта</p>
    <hr class="my-4">
    <p>Создайте отдельные файлы для меню и подвала сайта, подключив их к основному шаблону через include.
Используйте шаблон для создания 4 страниц сайта, стилизованных с помощью Bootstrap.</p>
    <a class="btn btn-primary btn-lg" href="/about" role="button">О проекте</a>
</div>
{% endblock %}
